*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ecf0f3;
    outline: none;
}
.calcbody{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color:#ecf0f3 ;
    padding: 20px;
    border-radius: 50px;
    box-shadow: inset 5px 5px 12px #ffffff;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.16);
    display: grid;
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column: span 4;
    height: 70px;
    width: 240px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff;
    box-shadow: inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 30px;
    color:rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
button{
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 30px;
    background-color: #ecf0f3;
    box-shadow:  -5px -5px 12px #ffffff;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.16);
    margin: 8px;
    font-size: 16px;
}
#ac{
    background-color: rgba(255, 0, 0, 0.671);
}
#eq{
    background-color: rgba(0, 0, 255, 0.774);
    /* width: 115px; */
}
#clr{
    background-color: black;
    color: #ffffff;
}
/* //rgba(255, 0, 0, 0.671) */